<div class="container profile">
	<section id='profile-details'>
		<div id='photo-container'>
			<%= image_tag @user.photo, class: 'photo' %>
		</div>
		<div id='profile-info-container'>
			<h1 id='name'><%= @user.name %></h1>
			<p id='location'><%= @user.location %><%#= link_to " Edit Profile", edit_user_registration_path %></p>
			<p><%= check_box(@user.private_messages?, :patch, options = {}, checked_value = "1") %><label>Receive private messages</label></p>
		</div>
	</section>
	<label>Bio</label>
	<p id='bio'><%= truncate(@user.bio, :length => 140) %></p>
	<section id='interests'>
		<%= form_tag :user, method: :patch do %>
		<%= text_field_tag :interests, nil, placeholder: "Enter an interest" %>	
		<%= text_field_tag :lat, params[:lat] %>
		<%= text_field_tag :lon, params[:lon] %>

		<div>
			<label>I would like to discuss:</label>
			<ul class='interest-cloud'>
				<% @user.interests.each do |interest| %>
					<li class="interest"><%= link_to interest.name + " X", interest_path(interest), class: 'button' %></li>
				<% end %>
		</div>
		<div class="popular-interests">
			<label>Popular topics at this Meetup:</label>
			</ul>
			<ul>
				<li></li>
			</ul>
		</div>
		<%= submit_tag "Enter Chat", class: "button" %>
		<% end %>
	</section>
</div>