<div class="container profile">
	<section id='profile-details'>
		<div id='photo-container'>
			<%= image_tag @user.photo, class: 'photo' %>
		</div>
		<div id='profile-info-container'>
			<h1 id='name'><%= @user.name %></h1>
			<p id='location'><%= @user.location %></p>
			<p><%= @user.private_messages? ? (link_to " Send Private Message", users_path, class: 'private-message fa fa-envelope') : "" %></p>
		</div>
	</section>
<!-- 	<label>Meetup Introduction</label>
	<p id='bio'><%#= truncate(@user.bio, :length => 140) %></p>
 -->	<%#= @member %>
	<section id='interests'>
		<label>Interests</label>
		<ul class='interest-cloud'>
			<% @user.interests.each do |interest| %>
				<li class="interest"><%= link_to ("#" + interest.name), interest_path(interest), class: 'button' %></li>
			<% end %>
		</ul>
	</section>
	<section>
		Distance to next event: <%= @user.distance([@user.get_user_event_details(@user.event_id)['results'][0]['venue']['lat'], @user.get_user_event_details(@user.event_id)['results'][0]['venue']['lon']], [@user.lat, @user.lon]) %> miles
	</section>
</div>