<%= render 'layouts/header' %>

<!-- This section is outside the container so it wraps edge-to-edge -->
	<section id='profile-details'>
		<div id='photo-container'>
			<%= image_tag @user.photo, class: 'photo' %>
		</div>
		<div id='profile-info-container'>
			<h1 id='name'><%= @user.name %></h1>
			<p id='location'><%= truncate(@user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['name'], length: 28) %></p>
		</div>
	</section>

<div class="container">
 	<% if @user.bio != '' %>
	 	<section>
			<label>EVENT STATUS</label>
			<p id="bio"><%= @user.bio %></p>
		</section>
	<% end %>

	<section id='interests'>
		<label>INTERESTS</label>
		<ul class='interest-cloud'>
			<% @interests_with_chats.each do |interestname, present| %>
				 
				<% if present %> 
				<!-- Click to spawn a new room based on the user's interest -->
					<li class="interest start-chat active-chats" data-category= <%= '#' + interestname %> data-event_id=<%= @user.event_id.to_s %> id=<%=interestname%>>
						<a class="green button active-chats" href="#">
							#<%= interestname %> 
						</a>
					</li>
				<% else %>
					<li class="interest start-chat" data-category= <%= '#' + interestname %> data-event_id=<%= @user.event_id.to_s %> id=<%=interestname%>>
						<a class="green button" href="#">
							#<%= interestname %> 
						</a>
					</li>
				<% end %>				

			<% end %>
		</ul>
	</section>

</div>

<script>


	$(document).delegate(".start-chat", "click", function (e) {
		e.preventDefault();
        var category = $(this).data('category');  
        var event_id = $(this).data('event_id');

        // menu is finnicky with its labeling of data fields - set if unset
        if (event_id == null){
        	event_id = $(this).data('event-id');
        }
        $.post("/chats", { category: category, event_id: event_id}, function (data) {
        	// success
        	if(data.chat_name != "main"){
        		$(data.chat_name + "> a").css('background-color', '#407bfb');
        		$(data.chat_name).css('background-color', '#407bfb');
        	}
        }); 
    });	
</script>