<!-- hide this data and replace it in the header -->
<div class="chatboxcontent" id="chatboxcontent_<%=@chat.id%>">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>


<div class="chatboxinput">
  <div id='chatbox-input-bg' class='expand'>

  <%= form_for([@chat, @message], :remote => true, :html => {id: "chat_form_#{@chat.id}"}) do |f| %>
      <div class="message-input-area">
        <%= f.text_area :body, :autofocus => true, class: "chatboxtextarea", "data-cid" => @chat.id, placeholder: "Share a message", id: "chat_input_#{@chat.id}" %>
        <div class="click-to-send-message" data-cid=<%=@chat.id%>>Send</div>
      </div>
  <% end %>
  </div>
</div>
 
<!-- check to see if user already subscribed without refreshing, set and save after -->
<% if current_user.chat_users.find_by(chat_id: @chat.id).subscribed == false%>
  <%= subscribe_to chat_path(@chat) %>
  <% x = current_user.chat_users.find_by(chat_id: @chat.id); x.subscribed = true; x.save%>
<%end%>  
  

