<div class="chatboxhead">
  <div class="chatboxtitle">
   <!--  <i class="fa fa-comments"></i> -->
    <h1><%= @chat.category %> (number of peeps) </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @chat.id %>
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @chat.id %>
  </div>
  <br clear="all"/>
</div>

<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>


<div class="chatboxinput">
  <%= form_for([@chat, @message], :remote => true, :html => {id: "chat_form_#{@chat.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @chat.id %>
  <% end %>
</div>
 
 <!-- faye - to listen for messages on this channel -->
<%= subscribe_to chat_path(@chat) %>