<!-- <div class="chatboxhead">
  <div class="chatboxtitle"> -->
   <!--  <i class="fa fa-comments"></i> -->
<!-- <%# @chat.users.each do |u| %>
<li><%#= u.name %></li>
<%# end %> -->
<!--   </div>
  <div class="chatboxoptions">
    <%#= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @chat.id %>
    <%#= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @chat.id %>
  </div>
  <br clear="all"/>
</div> -->


<!-- Fix headers for chats/ jquery to update-->

<!-- Find instances of event_id and fix -->

<!-- try to animate auto scroll when new message appended -->

<!-- styling ideas -->

<!-- query common interests -->

<div class="chatboxcontent" id="chatboxcontent_<%=@chat.id%>">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>


<div class="chatboxinput">
  <div id='chatbox-input-bg' class='expand'>

  <%= form_for([@chat, @message], :remote => true, :html => {id: "chat_form_#{@chat.id}"}) do |f| %>
      <div class="message-input-area">
        <%= f.text_area :body, :autofocus => true, class: "chatboxtextarea", "data-cid" => @chat.id, placeholder: "Share a message", id: "chat_input_#{@chat.id}" %>
        <div class="click-to-send-message" data-cid=<%=@chat.id%>>Send</div>
      </div>
  <% end %>
  </div>
</div>
 
 <!-- faye - to listen for messages on this (chat_path(@chat)) channel to update -->
<%= subscribe_to chat_path(@chat) %>