Next Event for: <%= @member["results"][0]["name"] %> from <%= @member["results"][0]["city"] %>

<h1><%= link_to @events["results"][0]["name"], @events["results"][0]["event_url"] %></h1>
<p><%= @events["results"][0]["group"]["name"] %></p>
<p><%= @events["results"][0]["description"] %></p>

