<% if @member["results"].length > 0 %>
	<p>Next Event for:</p>
	<%= image_tag @member["results"][0]["photo"]["thumb_link"], class: 'photo' if @member["results"][0]["photo"] %><p><%= @member["results"][0]["name"].titleize %> of <%= @member["results"][0]["city"] %> <!-- (Currently at: <%#= params[:user][:lat] %>, <%#= params[:user][:lon] %>)</p> -->
<% else %>
	Sorry, a user with the id: <%= params[:user][:meetup_id] %> was not found.
<% end %>

<br>
<br>


<!-- collection_select(:post, :category_id, Category.all, :id, :name, {disabled: lambda{|category| category.archived? }})

= f.collection_select :day, @dates, :to_s, :to_s, include_blank: false
select_tag "people", options_from_collection_for_select(@people, "id", "name") -->

<%#= select_tag "field", options_for_select(@my_array, @my_array[0])  %>

<!-- = select_tag "people", options_for_select(@people.collect {|p| [ p['name'], p['id'] ] }
 -->




<%= select_tag "events", options_for_select(@events["results"].collect {|u| [ u["name"], u["id"]] }) %>




<%#= @events["results"].length %>
<%#= @events["results"][0]["name"] %>
<%# end %>


<% if @events["results"].length > 0 %>
	<h1><%= link_to @events["results"][0]["name"], @events["results"][0]["event_url"] %></h1> <%= @date %>
	<p><%#= @events["results"][0]["venue"].inspect %></p>
	<% if @events["results"][0]["venue"]["lat"] > 0 %>
	<p>at <%= @events["results"][0]["venue"]["name"] %> (<%= @user.distance([@user.lat, @user.lon],[@events["results"][0]["venue"]["lat"], @events["results"][0]["venue"]["lon"]]) if @events["results"] %> miles away) <!-- (<%#= @events["results"][0]["venue"]["lat"] %>, <%#= @events["results"][0]["venue"]["lon"] %>)</p> -->
	<% end %>
	<p><%= @events["results"][0]["description"] %></p>
	<p>Organized by <%= @events["results"][0]["group"]["name"] %></p>
	
<% else %>
	<p>Sorry, <%#= @member["results"][0]["name"] %>'s upcoming events are not public</p>
<% end %>
