<p><%#= image_tag current_user.photo, class: 'menu-photo' %><%#= link_to current_user.name, user_path %></p>
<ul id="navigation">
	<% if params[:controller] == 'events' %>
	<!-- could add the name of the current event here -->
	<%#= @user.get_user_event_details(@user.event.meetup_event_id)['results'][0]['name'] %>
	<% @user.chats.order('created_at ASC').each do |c| %>
		<li class='menu-item'><%= link_to truncate(c.category, length: 20), '#', :data => {category: c.category, event_id: c.event_id}, class: 'start-chat hide-menu' %> <span class='close fa fa-times'><%= link_to '', '#' %></span></li>
	<% end %>

<%#=  link_to "Join main", '#', class: "start-chat", "data-category" => "angularjs", "data-event_id" => 1%>


		<% get_current_users.each do |u| %>
			<div>
				<li>
					<%= image_tag u.photo, class: 'menu-photo' %>
					<%= link_to u.name, user_path(u), class: 'menu-item' %>
					<!-- <div class="is-active">
						&nbsp;
					</div> -->
				</li>
			</div>
		<% end %>
	<% end %>
	<li><a href="/">Home</a></li>
	<li><%= link_to 'Account Settings', edit_user_registration_path %></li>
	<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
</ul>
