<!-- This partial only renders on the events controller per application.js -->

<!-- Container at the top for the logged in user -->
<div id='menu-user-info'>
	<%= image_tag current_user.photo, class: 'menu-main-photo' %><%= link_to current_user.name, user_path(@user), id:'logged-in-user-name' %>
</div>

<ul id="navigation">
	<label id='menu-label'>CONVERSATIONS</label>

	<!-- Display all of the user's chatrooms -->
	<% @user.chats.order('created_at ASC').each do |c| %>
		<li class='menu-item convo-joined'>

			<!-- If the chatroom name is 'main', display the meetup event name and don't let the user delete it -->
			<% if c.category == 'main' %>
				<%= link_to "#{c.category}"+" - #{truncate(c.event.name, length: 23)}", '#', :data => {category: c.category, event_id: c.event_id}, class: 'start-chat hide-menu' %>
			<% else %>

			<!-- If the chatroom name is not main, allow the user to delete it from their menu -->
				<%= link_to "#{truncate(c.category, length: 30)}", '#', :data => {category: c.category, event_id: c.event_id}, class: 'start-chat hide-menu' %>
				<%= link_to remove_chat_path(c), method: :delete, remote: true do %>
				<span class='close fa fa-times'></span>
				<% end %>
			<% end %>
		</li>
	<% end %>

	<div class="autoscroll-menu">
		<!-- If the user is less than x miles from the event venue, then let them see the attendees/profiles -->
		<!-- inital load prevents user list from showing if user is too far here -->
		<% if @distance < 10.25 %>
			<div class='menu-section'>
				<label id='menu-label'>PEOPLE</label>
				<% get_current_users.each do |u| %>
					<li class='menu-item'>
						<%= image_tag u.photo, class: 'menu-photo' %>
						<%= link_to u.name, user_path(u) %>
					</li>
				<% end %>
			</div>
		<% end %>

		<div class='menu-section'>
			<label id='menu-label'>SETTINGS</label>
			<li class='left-padding'><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
			<li class='left-padding'><%= link_to 'Account Settings', edit_user_registration_path %></li>
			<!-- <li class='left-padding'><a target="_blank" href='/#about-text'>About</a></li> -->
			<li class='left-padding'><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
		</div>
	</div>
  	<a target="_blank" class="aboutlink" href="http://wildebee.st/">Created By wildebeest</a>
</ul>
