<!DOCTYPE html>
<html>
<head>
  <title>Chatchat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <!-- sets meta data for view -->
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

</head>
<body>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <div class="container">
  		<!-- flash messages here -->
	  <%= yield %>
	</div>


</body>
</html>
