<!DOCTYPE html>
<html>
  <head>
    <title>MetaMeetup - Meet the right people</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    
    <!-- strange that data-no-turbolink didn't work. Had to comment this out instead -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- sets meta data for view used for chats-->
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body data-no-turbolink id='body'>
    		<% if flash[:alert] %>
  		    <p id="alert"><%= alert %></p>
  		<% end %>
  		<% if flash[:notice] %>
  		    <p class="notice"><%= notice %></p>
  		<% end %>
      <% if params[:controller] == 'events' %>
      <div id="menu"><%= render 'layouts/menu' %></div>
      <div id="site"><%= render 'layouts/header' %>
        <% end %>
      <%= yield %></div>
      
  </body>
</html>
