<!DOCTYPE html>
<html>
<head>
  <title>MetaMeetup - Meet the right people</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <!-- strange that data-no-turbolink didn't work. Had to comment this out instead -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

  <!-- sets meta data for view used for chats-->
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body data-no-turbolink>
    <div class="container">
  		<% if flash[:alert] %>
		    <p class="alert"><%= alert %></p>
		<% end %>
		<% if flash[:notice] %>
		    <p class="notice"><%= alert %></p>
		<% end %>
	  <%= yield %>
	</div>
</body>
</html>
