<!DOCTYPE html>
<html>
    <head>
        <title>MetaMeetup - Meet the right people</title>
        <%#= favicon_link_tag 'favicon.ico' %>
        <link rel="shortcut icon" href="/favicon.ico?v=2" />

        <%= favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1, content=minimal-ui">

        <!-- Display pretty on mobile browsers -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- Make it look more like an app on iphones -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- To allow Google Chrome users to save shortcut to desktop -->
        <link rel="manifest" href="manifest.json">

        <!-- sets meta data for view used for chats-->
        <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    </head>

    <!-- disable turbolinks and if the user is on the sessions controller, give body the class 'homepage' -->
    <body data-no-turbolink id='body' class=<%= params[:controller] == 'devise/sessions' ? 'homepage' : ''%>>
        <% if flash[:alert] %>
  		    <p id="alert"><%= alert %></p>
  		<% end %>
  		<% if flash[:notice] %>
  		    <p class="notice"><%= notice %></p>
  		<% end %>
        <% if params[:controller] == 'events' %>
            <div id="menu"><%= render 'layouts/menu' %></div>
            <div id="site"><%= render 'layouts/header' %>
        <% end %>

        <!-- Display a sign out link atop the page when the user is on the select_location screen -->
        <% if params[:action] == 'select_location' %>
            <p class='sign-out'>Signed in as <%= @user.email %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
        <% end %>

        <!-- Render the magic here -->
        <%= yield %>

            <!-- Disjointed closing div to wrap the site in an element to allow it to slide when the menu opens -->
            </div>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53470484-5', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
  
</html>
